[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
rdflib-jsonld = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
pdoc3 = "*"

[requires]
python_version = "3.8"
